extends ../layouts/default.pug


block content
  section
    .wrapper
      h2 Test results
      include ../includes/results_header.pug
      h2 Features
      each fixture in fixtures
        include ../includes/fixture.pug

