doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Test results
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap", rel="stylesheet")
    link(href='./styles.css', rel="stylesheet")
  body
    main
      block content
  script.
    (function() {
      window.addEventListener('DOMContentLoaded', (event) => {
        const headings = document.querySelectorAll('.collapse')

        Array.prototype.forEach.call(headings, heading => {
          const btn = heading.querySelector('button')
          const target = heading.nextElementSibling
          const icon = heading.querySelector('.collapse-icon');

          target.hidden = btn.getAttribute('aria-expanded') === 'false';

          btn.onclick = () => {
            const expanded = btn.getAttribute('aria-expanded') === 'true' || false
            btn.setAttribute('aria-expanded', !expanded)
            if (icon) {
              icon.innerHTML = !expanded ? '&minus;' : '+';
            }
            target.hidden = expanded
          }
        })
      });
    })()
